.NavBar {
  display: flex;
  justify-content: space-between;
}
.NavBar-menu {
  display: flex;
  justify-content: space-between;
}
.cart-widget-img {
  width: 1rem;

}
.cart-widget-img >img{ 
  width: 100%;
  
}